<div class="linkslist">
  <p class="asidetitle">Recent Visitors</p>
	<ul class="ds-recent-visitors" data-num-items="10"></ul>
	<script type="text/javascript">
	var duoshuoQuery = {short_name:"ipingguo"};
	(function() {
	    var ds = document.createElement('script');
	    ds.type = 'text/javascript';ds.async = true;
	    ds.src = 'http://static.duoshuo.com/embed.js';
	    ds.charset = 'UTF-8';
	    (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(ds);
	})();
	</script>
</div>